

<h4>Pins</h4>

<%= render :partial => 'errors', :locals => {:pin => @pin} %>

<br/><br/>
<%= render :partial => 'form', :locals => {:pin => @pin} %>
<br/>

<ol>
<% @pins.each do |pin| %>
	<li>
  <%="#{pin.name}: #{pin.description}"%>
  <br/>
  <%= image_tag pin.avatar.url(:medium) %>
  <li>
<% end %>
</ol>